atom-text-editor .gutter {

  // -------------------------------------------------------------- LINE NUMBERS

  &.line-numbers {
    .line-number {
      color: @syntax-gutter-text-color;
      opacity: 0;
      transition: opacity 0.5s;
    }

    .line-number.cursor-line {
      color: @syntax-gutter-text-color-selected;
      opacity: 1;
    }

    &:hover .line-number {
      opacity: 1;
    }
  }

  // --------------------------------------------------------------- FOLD MARKER

  &.line-numbers .line-number.folded {
    color: @accent;
  }
}
