atom-text-editor {
  .gutter.line-numbers {
    color: @syntax-gutter-text-color;
    opacity: 0;
    transition: opacity 0.5s;

    .line-number {
      opacity: 1;
    }

    .line-number.cursor-line {
      color: @syntax-gutter-text-color-selected;
      background-color: transparent;
    }

    &:hover {
      opacity: 1;
    }
  }

  .gutter {
    .line-number.folded,
    .line-number:after {
      color: @accent;
    }
  }

  .fold-marker {
    padding: 0 3px;
    color: @syntax-text-color;
    background-color: @accent;
    border-radius: 3px;

    &:after {
      content: '...';
    }
  }
}
